In [82]:
import pandas as pd

ds_path = 'data/rio_listings.csv'

df = pd.read_csv(ds_path, sep = ',')#, encoding='latin-1')
#df.dropna(axis=1)
df.describe()

,id,scrape_id,description,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,3.600800e+04,3.600800e+04,0.0,3.600800e+04,35999.000000,35999.000000,0.0,36008.000000,36008.000000,36008.000000,...,25721.000000,25723.000000,25722.000000,25722.000000,0.0,36008.000000,36008.000000,36008.000000,36008.000000,25706.000000
mean,4.445730e+17,2.023123e+13,NaN,1.784179e+08,17.221728,28.521237,NaN,-22.967580,-43.249377,4.071956,...,4.881911,4.868024,4.858699,4.701961,NaN,9.493224,8.647634,0.724228,0.114613,1.046277
std,4.418582e+17,0.000000e+00,NaN,1.769684e+08,95.150438,141.409181,NaN,0.034687,0.099241,2.358069,...,0.320784,0.340892,0.322370,0.442303,NaN,25.677082,25.412461,1.889419,0.985128,1.157816
min,1.787800e+04,2.023123e+13,NaN,1.671000e+03,1.000000,1.000000,NaN,-23.073276,-43.723009,1.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,2.863794e+07,2.023123e+13,NaN,2.416786e+07,1.000000,1.000000,NaN,-22.984712,-43.306566,2.000000,...,4.890000,4.870000,4.850000,4.620000,NaN,1.000000,1.000000,0.000000,0.000000,0.200000
50%,5.761368e+17,2.023123e+13,NaN,9.644573e+07,2.000000,3.000000,NaN,-22.972860,-43.194825,4.000000,...,5.000000,5.000000,4.970000,4.820000,NaN,2.000000,1.000000,0.000000,0.000000,0.670000
75%,8.726761e+17,2.023123e+13,NaN,3.256093e+08,6.000000,8.000000,NaN,-22.956277,-43.185573,5.000000,...,5.000000,5.000000,5.000000,5.000000,NaN,5.000000,3.000000,1.000000,0.000000,1.500000
max,1.053823e+18,2.023123e+13,NaN,5.527145e+08,1405.000000,1927.000000,NaN,-22.749690,-43.104400,16.000000,...,5.000000,5.000000,5.000000,5.000000,NaN,185.000000,185.000000,21.000000,19.000000,13.750000

In [83]:
host_data_cols = ['id', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms']

reviews_data_cols = ['id', 'number_of_reviews','number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'reviews_per_month']

metadata_cols = ['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'license', 'calendar_updated', 'calendar_last_scraped']

property_data_cols = ['id', 'name', 'description', 'picture_url',
       'neighborhood_overview', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90', 'availability_365', 'instant_bookable']

In [84]:
metadata_df = df.loc[:, metadata_cols]
host_df     = df.loc[:, host_data_cols]
reviews_df  = df.loc[:, reviews_data_cols]
property_df = df.loc[:, property_data_cols]

property_df['bathrooms_text'].unique()

array(['1 bath', '1.5 baths', '2 baths', '7 baths', '1 shared bath',
       '3 baths', '1 private bath', '2.5 baths', '5 baths', '4 baths',
       '5 shared baths', nan, '3.5 baths', '2.5 shared baths',
       '2 shared baths', '4.5 baths', '0 shared baths', '0 baths',
       'Shared half-bath', '1.5 shared baths', '8 baths', '6 baths',
       '6.5 baths', '3 shared baths', '3.5 shared baths', '5.5 baths',
       '4 shared baths', '7.5 baths', '15 baths', '8.5 baths',
       '20 shared baths', 'Half-bath', '4.5 shared baths',
       '6.5 shared baths', '10 baths', '15.5 baths', 'Private half-bath',
       '12 baths', '6 shared baths', '7 shared baths', '9 baths',
       '11 baths', '16 baths', '8.5 shared baths', '9.5 baths',
       '5.5 shared baths', '11.5 baths', '8 shared baths',
       '9 shared baths', '12 shared baths', '13 baths', '11 shared baths'],
      dtype=object)

In [85]:
metadata_df.to_csv('data/metadata.csv')
host_df.to_csv('data/host.csv')
reviews_df.to_csv('data/reviews.csv')
property_df.to_csv('data/property.csv')

In [86]:
superhosts = set(host_df[host_df['host_is_superhost'] == 't']['id'])

sh_reviews = reviews_df[[idx in superhosts for idx in reviews_df['id']]]

sh_reviews[sh_reviews['review_scores_rating'] <= 3]

,id,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
569,1170381,1,0,0,2014-04-03,2014-04-03,0.00,5.00,5.0,5.00,4.0,5.00,5.00,0.01
600,1214259,2,0,0,2013-11-26,2014-07-01,2.50,3.00,3.0,3.50,4.5,4.00,2.50,0.02
8490,23870810,1,0,0,2018-03-31,2018-03-31,1.00,4.00,4.0,5.00,3.0,5.00,3.00,0.01
9899,32357994,1,0,0,2020-02-26,2020-02-26,1.00,1.00,1.0,1.00,1.0,1.00,1.00,0.02
11935,40674880,1,0,0,2020-01-06,2020-01-06,3.00,2.00,3.0,5.00,5.0,5.00,1.00,0.02
14143,47309473,2,0,0,2021-10-05,2021-10-26,2.00,1.00,1.0,1.00,1.0,1.00,1.00,0.07
14326,47919273,3,3,0,2023-01-24,2023-11-21,3.00,3.67,4.0,4.67,4.0,4.67,3.00,0.27
15590,52517412,3,2,0,2022-09-12,2023-11-21,2.67,2.67,4.0,4.00,3.0,4.33,2.67,0.19
19448,666555553771027946,1,0,0,2022-09-03,2022-09-03,3.00,5.00,5.0,5.00,5.0,5.00,4.00,0.06
22726,772472364190638672,1,1,0,2023-01-24,2023-01-24,3.00,4.00,5.0,3.00,3.0,5.00,3.00,0.09
27002,873206089246169448,1,1,1,2023-12-07,2023-12-07,1.00,1.00,2.0,5.00,5.0,4.00,1.00,1.00
29288,952689021285366168,2,2,1,2023-10-31,2023-11-30,3.00,3.00,3.0,3.50,4.5,3.50,3.00,1.02
30103,973774176985938032,1,1,0,2023-09-10,2023-09-10,3.00,4.00,4.0,3.00,4.0,2.00,2.00,0.27
30371,983297075539750580,1,1,0,2023-11-04,2023-11-04,3.00,3.50,5.0,5.00,3.0,4.50,3.00,0.53
31442,1004468673157335685,1,1,0,2023-11-16,2023-11-16,3.00,4.00,4.0,5.00,5.0,4.00,3.00,0.70
32762,1023965243911685441,1,1,1,2023-12-17,2023-12-17,3.00,5.00,5.0,5.00,5.0,5.00,4.00,1.00

In [87]:
print(host_df.columns)
host_df.head()

Index(['id', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

,id,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,...,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,17878,68997,https://www.airbnb.com/users/show/68997,Matthias,2010-01-08,"Rio de Janeiro, Brazil",I am a journalist/writer. Lived in NYC for ...,within an hour,100%,96%,...,Copacabana,2.0,5.0,"['email', 'phone']",t,t,1,1,0,0
1,25026,102840,https://www.airbnb.com/users/show/102840,Viviane,2010-04-03,"Rio de Janeiro, Brazil","Hi guys,\n\nViviane is a commercial photograph...",within an hour,100%,80%,...,Copacabana,1.0,5.0,"['email', 'phone']",t,t,1,1,0,0
2,35764,153691,https://www.airbnb.com/users/show/153691,Patricia Miranda & Paulo,2010-06-27,"Rio de Janeiro, Brazil","Hello, We are Patricia Miranda and Paulo.\nW...",within an hour,100%,98%,...,Copacabana,1.0,2.0,"['email', 'phone']",t,t,1,1,0,0
3,41198,178975,https://www.airbnb.com/users/show/178975,Nicky,2010-07-23,"Rio de Janeiro, Brazil","Hi fellow Airbnb-ers,\r\nMr Francis , Nixx, Ni...",within an hour,90%,89%,...,Copacabana,4.0,5.0,"['email', 'phone']",t,t,2,2,0,0
4,326205,1603206,https://www.airbnb.com/users/show/1603206,Bob,2012-01-13,"Rio de Janeiro, Brazil","I'm originally from the US, but moved to this ...",within a few hours,100%,93%,...,Copacabana,7.0,7.0,"['email', 'phone']",t,f,5,5,0,0

In [88]:
reviews_df.head()

,id,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,17878,311,29,4,2010-07-15,2023-12-22,4.70,4.77,4.65,4.83,4.91,4.77,4.67,1.90
1,25026,275,29,2,2010-06-07,2023-12-03,4.72,4.70,4.79,4.81,4.92,4.84,4.60,1.67
2,35764,454,36,2,2010-10-03,2023-12-17,4.90,4.93,4.93,4.97,4.95,4.94,4.89,2.82
3,41198,17,0,0,2013-06-04,2016-02-09,4.21,3.88,4.25,4.69,4.56,4.44,4.38,0.13
4,326205,152,14,0,2012-04-18,2023-11-21,4.57,4.72,4.46,4.83,4.77,4.83,4.59,1.07

In [89]:
property_df.head()

,id,name,description,picture_url,neighborhood_overview,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,instant_bookable
0,17878,Condo in Rio de Janeiro Â· â˜…4.70 Â· 2 bedrooms Â·...,NaN,https://a0.muscache.com/pictures/65320518/3069...,This is the one of the bests spots in Rio. Bec...,"Rio de Janeiro, Brazil",Copacabana,NaN,-22.96599,-43.17940,...,28,28,5.0,28.0,t,5,7,14,269,f
1,25026,Rental unit in Rio de Janeiro Â· â˜…4.72 Â· 1 bedr...,NaN,https://a0.muscache.com/pictures/a745aa21-b8dd...,Copacabana is a lively neighborhood and the ap...,"Rio de Janeiro, Brazil",Copacabana,NaN,-22.97735,-43.19105,...,60,60,2.2,60.0,t,3,18,48,228,f
2,35764,Loft in Rio de Janeiro Â· â˜…4.90 Â· 1 bedroom Â· 1...,NaN,https://a0.muscache.com/pictures/23782972/1d3e...,Our guests will experience living with a local...,"Rio de Janeiro, Brazil",Copacabana,NaN,-22.98107,-43.19136,...,7,15,3.1,14.7,t,4,9,12,62,f
3,41198,Rental unit in Rio de Janeiro Â· â˜…4.21 Â· 2 bedr...,NaN,https://a0.muscache.com/pictures/3576716/2d6a9...,NaN,NaN,Copacabana,NaN,-22.98102,-43.19172,...,365,365,3.2,365.0,t,15,38,41,44,f
4,326205,Condo in Rio de Janeiro Â· â˜…4.57 Â· 1 bedroom Â· ...,NaN,https://a0.muscache.com/pictures/c550151d-910c...,NaN,NaN,Copacabana,NaN,-22.96825,-43.18237,...,180,180,3.0,180.0,t,6,22,27,293,f

In [90]:
clustering_df = reviews_df[['review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location','review_scores_value']].dropna()
regression_df = property_df[['neighbourhood_cleansed', 'room_type', 'bathrooms_text', 'latitude', 'longitude', 'accommodates', 'beds', 'price']].dropna()
itemset_df = host_df[['host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified']].dropna()

#'bathrooms_text', 'price'
#

In [91]:
host_df['host_response_rate'].unique()

array(['100%', '90%', '0%', '50%', nan, '96%', '70%', '63%', '80%', '99%',
       '93%', '91%', '10%', '60%', '86%', '30%', '88%', '67%', '71%',
       '89%', '97%', '11%', '78%', '68%', '17%', '81%', '21%', '75%',
       '94%', '13%', '92%', '73%', '40%', '20%', '83%', '33%', '95%',
       '14%', '25%', '29%', '43%', '69%', '98%', '22%', '79%', '55%',
       '57%', '82%', '31%', '44%', '23%', '56%', '77%', '84%', '38%',
       '87%', '3%', '72%', '85%', '53%', '49%', '62%', '52%', '18%',
       '58%', '64%', '36%', '76%', '6%', '35%', '27%', '59%', '8%', '61%',
       '42%', '37%', '47%', '65%', '46%', '41%', '74%', '9%', '7%', '39%',
       '16%', '19%', '48%', '32%', '5%', '4%'], dtype=object)

In [92]:
host_df.columns
['host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified']

['host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified']

In [100]:

[float(s[1:].replace(',','')) for s in regression_df['price']]

1218.305434588081

In [101]:
regression_df['bathrooms_text'].unique()

array(['1 bath', '1.5 baths', '2 baths', '7 baths', '1 shared bath',
       '3 baths', '1 private bath', '2.5 baths', '5 baths', '4 baths',
       '5 shared baths', '3.5 baths', '2.5 shared baths',
       '2 shared baths', '4.5 baths', '0 shared baths', '0 baths',
       'Shared half-bath', '1.5 shared baths', '8 baths', '6 baths',
       '6.5 baths', '3 shared baths', '3.5 shared baths', '5.5 baths',
       '4 shared baths', '7.5 baths', '15 baths', '8.5 baths',
       '20 shared baths', 'Half-bath', '4.5 shared baths',
       '6.5 shared baths', '10 baths', '15.5 baths', 'Private half-bath',
       '12 baths', '6 shared baths', '7 shared baths', '9 baths',
       '11 baths', '16 baths', '9.5 baths', '8 shared baths',
       '11.5 baths', '9 shared baths', '12 shared baths', '13 baths',
       '11 shared baths'], dtype=object)

In [106]:
regression_df['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room', 'Hotel room'],
      dtype=object)